<div class="row">
<div>
<div class="panel panel-default">
<div class="panel-heading">

<div>{{blogPost.blogTitle}}</div>
<span><strong>Created By:</strong>{{blogPost.postedBy.username}}</span>
<span><strong>On:</strong>{{blogPost.postedOn | date:'medium'}}</span>
</div>

<div class="panel-body">
{{blogPost.description}}
</div>
</div>
</div>
</div>

<div>
 <ul>
<li ng-repeat="blogComment in blogComments | orderBy:'time':'true'">
{{blogComment.commentText}}<br>
<span>By: <strong>{{blogComment.commentedBy.username}}</strong></span>
<span>On: <strong>{{blogComment.commentedOn | date:'yyyy/MM/dd'}}</strong></span>
</li>
</ul>
 
<form>
<div class="form-group">
<textarea rows="4" cols="20" ng-model="blogComment.commentText"></textarea>
</div>
<button class="btn btn-default"  value="Post Comment" ng-click="addComment()">Post Comment</button>
</form>
</div>

