<b>List of Friends</b>
<table class="table table-striped">
<tbody>
<tr ng-repeat="friend in friends">

<td ng-if="currentUser.username!=friend.fromId">{{friend.fromId}}</td>

<td ng-if="currentUser.username!=friend.toId">{{friend.toId}}</td>

<td ng-if="currentUser.username!=friend.fromId">
<img src="http://localhost:8080/project2_backend/getprofilepic/{{friend.fromId}}" height="40px" width="40px" ></td>

<td ng-if="currentUser.username!=friend.toId">
<img src="http://localhost:8080/project2_backend/getprofilepic/{{friend.toId}} " height="40px" width="40px">
</td>
</tr>

</tbody>

</table>
